Earthquake.json
[{"id":"473b9de1.41dc3c","type":"function","z":"bed734a3.901cd","name":"remap property names","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = msg.payload.type;\nmsg.payload.icon = msg.payload.type;\nmsg.payload.name = msg.payload.id;\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\ndelete msg.payload.type;\nreturn msg;","outputs":1,"noerr":0,"x":449.16668701171875,"y":324.99999237060547,"wires":[["dc64a53a.46eb68","f13d8fee.59c52"]]},{"id":"f13d8fee.59c52","type":"debug","z":"bed734a3.901cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":679.1666870117188,"y":264.99999237060547,"wires":[]},{"id":"998f68d1.300748","type":"csv","z":"bed734a3.901cd","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":0,"x":439.16668701171875,"y":244.99999237060547,"wires":[["473b9de1.41dc3c"]]},{"id":"a0821282.78e12","type":"http request","z":"bed734a3.901cd","name":"","method":"GET","paytoqs":false,"url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv","tls":"","proxy":"","authType":"","x":279.16668701171875,"y":244.99999237060547,"wires":[["998f68d1.300748"]]},{"id":"97c5e29a.deb038","type":"inject","z":"bed734a3.901cd","name":"quakes","topic":"","payload":"","payloadType":"str","repeat":"600","crontab":"","once":true,"x":119.16668701171875,"y":244.99999237060547,"wires":[["a0821282.78e12"]]},{"id":"4121a90f.eae438","type":"comment","z":"bed734a3.901cd","name":"Earthquake !!!","info":"Press the button on the `inject` node to get the list of earthquakes from the USGS public API.\n\nThis returns a CSV - which we then parse using the `CSV` node into individual objects.\n\nThese are then passed through a `function` to remap the property names into ones \nsuitable for the map node, and passed to the `web-socket` out node.\n\nThe map will be served at http://localhost:1880/worldmap .\nYou will need to zoom out :-)","x":119.16668701171875,"y":184.99999237060547,"wires":[]},{"id":"dc64a53a.46eb68","type":"worldmap","z":"bed734a3.901cd","name":"","lat":"20","lon":"0","zoom":"2","cluster":"","maxage":"","x":679.1666870117188,"y":324.99999237060547,"wires":[]}]