ISS_orbit.json
[{"id":"5b6dcea9.d35dc8","type":"http request","z":"80cfb942.6388d8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.open-notify.org/iss-now.json","tls":"","proxy":"","authType":"","x":270,"y":200,"wires":[["fa30b1f.8abadd"]]},{"id":"54751a03.4018fc","type":"inject","z":"80cfb942.6388d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":"","x":110,"y":160,"wires":[["5b6dcea9.d35dc8"]]},{"id":"669cde2e.c08f08","type":"debug","z":"80cfb942.6388d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":320,"wires":[]},{"id":"fa30b1f.8abadd","type":"json","z":"80cfb942.6388d8","name":"","property":"payload","action":"","pretty":false,"x":490,"y":240,"wires":[["b4a8e288.79424"]]},{"id":"b4a8e288.79424","type":"function","z":"80cfb942.6388d8","name":"","func":"var issLocation = msg.payload.iss_position;\nmsg.payload = {\n    name : \"ISS\",\n    lat : parseFloat(issLocation.latitude),\n    lon : parseFloat(issLocation.longitude)\n};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":280,"wires":[["669cde2e.c08f08","30350afb.3a8066"]]},{"id":"30350afb.3a8066","type":"worldmap","z":"80cfb942.6388d8","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":830,"y":420,"wires":[]}]